/*
Student Name: Sherley Rodriguez
File Name: styles.css
Date: 3/2/2024
*/

/* CSS Reset */ 

body, header, nav, main, footer, img, h1, h3, ul, section, article, aside, figure, figcaption, audio {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body and images */ 

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body::after {
  position: absolute;
}

img, audio {
  max-width: 100%;
  display: block;
}

/* Syle rules for audio */ 

audio {
  opacity: 1;
  color: #cdb4db;
  margin: 0 auto;
  display: block;
  height: 50px;
}

/* Style rules for mobile viewport */

@media screen and (max-width: 576px)
{
  .mobile-tablet {
    display: block;
  }

  .desktop {
    display: none;
  }
}

/* Style rules to show mobile class and hide tab-desk class */

.mobile, .mobile-tablet {
  display: block;
}

.tab-desk, #nav-links {
  display: none;
}

/* Style rules for header area */

.mobile h1, mobile h3 {
  padding: 2%;
  text-align: center;
}

.mobile h1 {
  font-family: "Emblema One", system-ui;
  margin: 2% 0 0 3%;
}

.curves {
  border-radius: 10px;
}

/* Style rules for navigation area */ 

nav {
  background-color: #cdb4db;
}

.mobile-nav a {
  color:  #fff;
  text-align: center;  
  font-size: 2em;
  text-decoration: none;
  padding: 3%;
  display: block;
}

.mobile-nav a.nav-icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  color: #f6eee4;
  padding: 2%;
}

.nav-icon div {
  height: 40px;
  width: 40px;
  color: #2a1f14;
}

.nav-icon:hover {
  transform: translateY(10px);
}

nav li {
  font-size: 1.15em;
  display: block;
}

nav li:first-child {
  border-top: none;
}

/* Style rules for main content */

main {
  padding: 2em;
  font-family: "Kalam", "cursive";
}

main p {
  font-size: 1.15em;
}

main ul {
  list-style: square;
  list-style: none;

}

#contact {
  text-align: center;
}

.link {
  color: #3f194b;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

.tel-link {
  background-color: #bde0fe;
  padding: 2%;
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}

.tel-link a {
  color: #2f1138;
  text-decoration: none;
  font-weight: bold;
}

#info {
  padding-top: 0%;
  text-align: justify;
  font-size: 1em;
}

/* Style rules for contact page */

.map {
  border: 2px solid #000;
  width: 95%;
  height: 50%;
}

#contact .contact-email {
  color: #2f1138;
  text-decoration: none;
}

.posts {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 
}

#projects {
  font-size: 0.95em;
  text-align: center;
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 7px;
  border-color: #aad5fa;
  border-width: 2px;
}

.shadow {
  text-shadow: 1px 1px 3px #aad5fa;
  padding-top: 5px;
}

aside {
  display: block;
  text-align: center;
}

fieldset, input, textarea {
  margin-bottom: 2%;
}

legend {
  font-weight: bold;
  font-size: 1.25em;
}

label {
  display: block;
  padding-top: 2%;
}

form #submit {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 1.5%;
  background-color: #aad5fa;
  color: #f6eee4;
  font-size: 1.25em;
  border-radius: 10px;
}

form {
  text-align: center;
  padding-left: 15em;
  padding-right: 15em;
}

/* Style rules for footer content */ 

footer {
  text-align: center;
  font-size: 0.95em;
  background-color: #bde0fe;
  padding-top: .5%;
  padding-left: 4%;
}

footer a {
  color: #2f1138;
  text-decoration: none;
  font-weight: bold;
}

.social {
  padding-bottom: auto;
  padding-right: 4%;
}


/* Media Query for Tablet Viewport */

@media screen and (max-width:999px ) {
  /* Tablet Viewport: Show tab-desk class, hide mobile class */
  .tab-desk, .mobile {
    display: none;
  } 
  .desktop {
    display: none;
  }
  .mobile-tablet {
    text-align: center;
  }

  h2 {
    text-align: center;
    font-size: 1.25em;
    background-color: #fdc2ea;
    border-radius: 12em;
    padding: 5px;
  }

  h3 {
    font-size: 1.15em;
    color: #2f1138;
  }

  /* Tablet Viewport: Style rules for nav area */

  nav ul {
    list-style-type: none;
    text-align: center;
  }

  nav li {
    border-top: none;
  display: inline-block;
  font-size: 1.25em;
  font-family: "Indie Flower", "cursive";
  font-weight: bold;
  }

  nav li a {
    padding: 0.5em;
    display: block;
    color: #f6eee4;
    text-decoration: none;
  }

  /* Tablet Viewport: Style rule for form element */
  form {
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  /* Tablet viewport: Style rules for image element */

  .curves {
    border-radius: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Tablet viewport: Style rules for footer area */

  footer {
    overflow: auto;
  }

  .copyright {
    float: left; 
    width: 65%;
  }

  .social {
    float: right;
    width: 25%;
  }
}

/* Media Query for Desktop Viewport */

@media screen and (min-width: 1000px) {
  /* Desktop Viewport: Style rules for nav area */
  .mobile-tablet {
    display: none;
  }

  .tab-desk {
    display: block;
  }

  nav {
    padding: 1%;
    margin-bottom: 1%;
    text-align: center;
  }

  nav li {
    font-size: 1.5em;
    display: inline-block;
    font-family: "Indie Flower", "cursive";
  }

  nav li a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  nav li a:hover {
    color: #cdb4db;
    background-color: #f6eee4;
  }

  h2 {
    text-align: center;
    font-size: 1.25em;
    background-color: #fdc2ea;
    border-radius: 12em;
    padding: 5px;
  }

  h3 {
    font-size: 1.15em;
    color: #2f1138;
  }

  /* Desktop Viewport: Style rules for main content */
  
  #info ul {
    margin-left: 5%;
  }

  /* Desktop Viewport: Style rules for table elements */

  .mobile-tablet {
    display: none;
  }

  caption {
    font-size: 1.25em;
    padding: 2%;
    margin-top: 2%;
  }

  table {
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #cdb4db;
  }

  table, tr, th, td {
    border-collapse: collapse;
    padding: 2%;
  }

  caption {
    font-size: 2em;
    padding: 2%;
    margin-top: 2%;
  }

  th, td {
    border: 1px solid #aad5fa;
  }

  h2, td {
    text-align: center;
  }

  tr:nth-child(odd) {
    background-color: #bde0fe;
  }

  /* Desktop Viewport: Style Rules for form elements */

  form {
    width: auto;
  }

  #form-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  #btn {
    grid-column: 1 / span 2;
  }
}

/* Media Query for Large Desktop Viewports */

@media screen and (min-width: 1921px) {
  body {
    background: linear-gradient(#f6eee4, #ffffff);
  }
}

/* Media Query for Print */

@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}

